/* Global Properties */
 html {
  scroll-behavior: smooth;
} 

body {
  background: #1f2235;
  font-family: "Baloo Tamma 2", cursive;
}



/* Main Heading Font */
.m-heading {
  font-family: "Roboto Slab", serif;
}

.navigation-link { 
  border: 2px solid transparent;
}

.navigation-link:hover { 
  text-decoration: none;
  border-bottom: 2px solid #f5ba09;
  transition: 0.5s ease;
}

.main_container { 
min-height: 100vh;
padding-top: 5rem;

}

#about { 
  background: #313552;
  border-radius: 0.5rem;
}

.card {
  border-bottom: 8px solid orange;
}

#Social-Media { 
  background-color: #313552;
}

.media_link {
  padding: 1rem;
  max-width: 15rem;
  margin-left: 1rem;
  border: 2px solid orange;
  border-radius: 0.5rem;
}